.P1{/*panel prin cipal*/
    -fx-background-color: #878fff;
}
.P2{
    -fx-background-color: #009fad;
    
}
#hola{/*titulo Hola.....nombre empleado....img */
    -fx-font-family: 'Ebrima',sans-serif;
    -fx-font-size: 24.16px;
    -fx-font-weight: bold;
    -fx-color: #000000;
}
#tusDatos{/*titulo tus datos*/
    -fx-font-family: 'Ebrima',sans-serif;
    -fx-font-size: 54.6px;
    -fx-font-weight: bold;
    -fx-color: #000000;
}
.L1{/*ant-datos de persona */
    -fx-font-family: 'Ebrima',sans-serif; 
    -fx-font-size: 19.7px;
    -fx-color: #000000;
}
#TxtEmpleado.textField{
    fx-font-size: 24.2px;
    -fx-font-weight: bold;
}
.textField{
    -fx-fill: #000000;               /* Color del texto */
    -fx-background-color: transparent;
    -fx-font-family: 'Ebrima',sans-serif;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}
