.P2{
    -fx-background-color: #ffffff;
}
/* Estilo para el botón */
.button {
    -fx-background-color: transparent; 
    -fx-text-fill: #000000;           /* Texto blanco */
    -fx-border-width: 0;            /* Sin bordes visibles */
    -fx-font-size: 15.2px;            /* Tamaño del texto */
    -fx-cursor: hand;               /* Cambia el cursor al pasar sobre el botón */
}
.button:hover {
    -fx-background-color: #e5e5e5;  
}
.button:pressed {
    -fx-text-fill: #656565;           
}
.button .text {
    -fx-font-family: 'Ebrima',sans-serif;
    -fx-text-fill: #000000;           
}
/* Efecto hover para el toolbar */
.toolbar {
    -fx-background-color: #ffffff; 
}
.toolbar:hover {
    -fx-background-color: #e5e5e5; /* Fondo del toolbar al pasar el mouse */
}
.toolbar:pressed .button {
    -fx-text-fill: #656565; /* Color de texto al hacer clic */
}



