/*.tab-pane .tab-header-area {
    -fx-background-color: transparent; /* Hace el área superior transparente 
    -fx-padding: 0;                    
    -fx-pref-height: 0;                
    -fx-max-height: 0;                 
    -fx-min-height: 0;               
}*/
